
<div class="flex justify-center min-h-screen">

  <div class="absolute mt-1">
    <img src="../../../assets/images/user_profile_cover.png" alt="Login Cover" class="min-w-screen min-h-screen blur-sm">
  </div>

  <div class="profile-body  flex overflow-hidden w-[1240px] h-[839px] mt-[100px] rounded-4xl shadow-md border border-black z-2">

    <div class="w-[439px] h-[494px] bg-gray-100 rounded-4xl ml-[40px] mt-[40px] profile-left border border-black relative flex items-center">
      <img [src]="(profilePicture$ | async) || '../../assets/images/user-default.png'"  alt="User Avatar" class="w-full h-full object-cover rounded-4xl">

      <input #editProfilePhoto type="file" accept="image/*" (change)="onPhotoChanged($event)" hidden/>
      <button type="button"
          class="absolute bottom-[-15px] right-[-30px] w-[60px] h-[50px]  rounded-full  flex items-center justify-center"
          (click)="editProfilePhoto.click()"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-20 h-20 stroke-gray-600 hover:stroke-gray-500 transition-colors">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0
                1 1 2.652 2.652L6.832 19.82a4.5 4.5 0
                0 1-1.897 1.13l-2.685.8.8-2.685a4.5
                4.5 0 0 1 1.13-1.897L16.863 4.487Zm0
                0L19.5 7.125" />
          </svg>
       </button>

    </div>



    <div class="profile-info-body w-[439px] h-[239px]  ml-[40px] mt-[560px] rounded-4xl absolute">

      <div class="profile-info ml-[25px] mt-[10px]">
        <p>
          Name: {{profile.name}}
        </p>
        <p>
          Email: {{profile.email}}
        </p>
        <p>
          Phone Number: {{profile.phoneNumber}}
        </p>
        <p>
          Role: {{profile.role}}
        </p>
        <p>
          Questionnaires Solved:
        </p>
        <p>
          Average Score:
        </p>
      </div>
    </div>

    <div class="profile-edit-body w-[660px] h-[760px] mt-[40px] ml-[60px] rounded-[30px]">

      <mat-tab-group #tabGroup class="mt-[20px] ml-[20px] mr-5" >
        <mat-tab label="Name">


            <div class="flex flex-col min-h-screen">

                <form [formGroup]="profileNameForm" (ngSubmit)="changeProfileName()">

                  <div class="flex flex-col items-center">

                    <div class="relative w-200 max-w-md  mt-5">


                      <input type="text"
                      formControlName="oldName"
                      class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500"/>
                      <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">Name</label>

                      <div class="min-h-6 text-red-500">
                        <span *ngIf="!oldName.valid && (oldName.touched || profileNameFormSubmitted)">
                          <span *ngIf="oldName.errors?.['required']">Old Name is required.</span>
                          <span *ngIf="oldName.errors?.['minlength']">Old Name must be at least 3 characters long.</span>
                        </span>
                      </div>

                    </div>


                    <div class="relative w-200  max-w-md mt-5">

                      <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">New Name</label>
                      <input type="text"
                      formControlName="newName"
                      class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                      <div class="min-h-6 text-red-500">
                        <span *ngIf="!newName.valid && (newName.touched || profileNameFormSubmitted)">
                          <span *ngIf="newName.errors?.['required']">New Name is required.</span>
                          <span *ngIf="newName.errors?.['minlength']">New Name must be at least 3 characters long.</span>
                        </span>
                      </div>

                    </div>

                  </div>


                  <div class="flex mt-[350px] justify-between items-center mr-[5px] ml-[2px]">

                    <div class="flex mb-3">

                      <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="previousTab()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                      </button>

                      <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="nextTab()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                      </button>

                    </div>

                    <button type="submit" class="save-button w-[148px] h-[42px] max-w-md text-white">
                      SAVE
                    </button>

                  </div>

                </form>


            </div>





        </mat-tab>
        <mat-tab label="Email">

          <div class="flex flex-col min-h-screen">

            <form [formGroup]="profileEmailForm" (ngSubmit)="changeProfileEmail()">

              <div class="flex flex-col items-center">

                <div class="relative w-200 max-w-md  mt-5">

                  <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">Email</label>
                  <input type="text"
                  formControlName="oldEmail"
                  class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                  <div class="min-h-6 text-red-500">
                    <span *ngIf="!oldEmail.valid && (oldEmail.touched || profileEmailFormSubmitted)">
                      <span *ngIf="oldEmail.errors?.['required']">Old Email is required.</span>
                      <span *ngIf="oldEmail.errors?.['email']">Incorrect Old Email format.</span>
                    </span>
                  </div>
                </div>

                <div class="relative w-200  max-w-md mt-5">

                  <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">New Email</label>
                  <input type="text"
                  formControlName="newEmail"
                  class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                  <div class="min-h-6 text-red-500">
                    <span *ngIf="!newEmail.valid && (newEmail.touched || profileEmailFormSubmitted)">
                      <span *ngIf="newEmail.errors?.['required']">New Email is required.</span>
                      <span *ngIf="newEmail.errors?.['email']">Incorrect New Email format.</span>
                    </span>
                  </div>
                </div>

              </div>


              <div class="flex mt-[350px] justify-between items-center mr-[5px] ml-[2px]">

                <div class="flex mb-3">

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="previousTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                  </button>

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="nextTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                  </button>

                </div>

                <button type="submit" class="save-button w-[148px] h-[42px] max-w-md text-white">
                  SAVE
                </button>

              </div>

            </form>



          </div>

        </mat-tab>
        <mat-tab label="Password">

          <div class="flex flex-col min-h-screen">

            <form [formGroup]="profilePasswordForm" (ngSubmit)="changeProfilePassword()">
              <div class="flex flex-col items-center">

                  <div class="relative w-200 max-w-md  mt-5">

                    <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">Password</label>
                    <input type="password"
                    formControlName="oldPassword"
                    class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                    <div class="min-h-6 text-red-500">

                      </div>

                  </div>

                  <div class="relative w-200  max-w-md mt-5">

                    <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">New Password</label>
                    <input type="password"
                    formControlName="newPassword"
                    class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                    <div class="min-h-6 text-red-500">

                      </div>
                  </div>

                </div>


              <div class="flex mt-[350px] justify-between items-center mr-[5px] ml-[2px]">

                <div class="flex mb-3">

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="previousTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                  </button>

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="nextTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                  </button>

                </div>

                <button type="submit" class="save-button w-[148px] h-[42px] max-w-md text-white">
                  SAVE
                </button>

              </div>

            </form>





          </div>

        </mat-tab>
        <mat-tab label="Phone Number">
          <div class="flex flex-col min-h-screen">

            <form [formGroup]="profilePhoneNumberForm" (ngSubmit)="changeProfilePhoneNumber()">

              <div class="flex flex-col items-center">

                <div class="relative w-200 max-w-md  mt-5">
                  <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">Phone Number</label>
                  <input type="text"
                  formControlName="oldPhoneNumber"
                  class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                  <div class="min-h-6 text-red-500">
                    <span *ngIf="!oldPhoneNumber.valid && (oldPhoneNumber.touched || profilePhoneNumberFormSubmitted)">
                      <span *ngIf="oldPhoneNumber.errors?.['required']">Old Phone Number is required.</span>
                      <span *ngIf="oldPhoneNumber.errors?.['pattern']">Incorrect Old Phone Number format.</span>
                    </span>
                  </div>
                </div>

                <div class="relative w-200  max-w-md mt-5">
                  <label for="name" class="label  absolute left-5 -top-4 text-gray-500  px-2">New Phone Number</label>
                  <input type="text"
                  formControlName="newPhoneNumber"
                  class="w-full py-3 pl-5 text-xl border-2 border-black rounded-lg focus:outline-none focus:ring-1 focus:ring-gray-500">
                  <div class="min-h-6 text-red-500">
                    <span *ngIf="!newPhoneNumber.valid && (newPhoneNumber.touched || profilePhoneNumberFormSubmitted)">
                      <span *ngIf="newPhoneNumber.errors?.['required']">New Phone Number is required.</span>
                      <span *ngIf="newPhoneNumber.errors?.['pattern']">Incorrect New Phone Number format.</span>
                    </span>
                  </div>
                </div>

              </div>


              <div class="flex mt-[350px] justify-between items-center mr-[5px] ml-[2px]">

                <div class="flex mb-3">

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="previousTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                  </button>

                  <button type="button" class="w-[50px] h-[42px] max-w-md group" (click)="nextTab()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="group-hover:stroke-gray-500 transition-colors">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                  </button>

                </div>

                <button type="submit" class="save-button w-[148px] h-[42px] max-w-md text-white">
                  SAVE
                </button>

              </div>

            </form>


          </div>
        </mat-tab>
      </mat-tab-group>

    </div>

  </div>




</div>
