<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 block">
      <h1 class="title text-center mb-4" style="color: #3b763d">
        <i class="fa fa-check" aria-hidden="true" style="color: #3b763d"></i>
        <br />
        ADMIS!
      </h1>
      <p class="lead text-center mb-5" style="color: #3b763d">
        Felicitări ai trecut cu bine acest chestionar, continuă tot așa!<br />
        Recomandăm parcurgerea celor 4 pași de învățare
      </p>
      <div class="card">
        <div class="card-body">
          <a
            class="card-title"
            href="https://www.scoalarutiera.ro/curs-legislatie"
          >
            Pasul 1 - Curs de legislație rutieră Video 3D
          </a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <a
            class="card-title"
            href="https://www.scoalarutiera.ro/indicatoare-si-marcaje"
          >
            Pasul 2 - Indicatoare şi marcaje rutiere explicate
          </a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <a
            class="card-title"
            href="https://www.scoalarutiera.ro/intrebari-posibile-drpciv-categoria-b"
          >
            Pasul 3 - Mediu de învățare cu explicații Video/text
          </a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <a
            class="card-title"
            href="https://www.scoalarutiera.ro/chestionare-drpciv-categoria-b"
          >
            Pasul 4 - Chestionare DRPCIV cu explicații Video / text
          </a>
        </div>
      </div>
      <div class="card-footer mt-4">
        <button
          class="mx-md-5 mb-3"
          mat-flat-button
          color="accent"
          routerLink="/"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
          Inapoi
        </button>
      </div>
    </div>
  </div>
</div>
