<div class="container-fluid d-flex flex-column vh-100">
  <div class="row flex-grow-1 justify-content-center align-items-center">
    <div class="col-8 text-center">

      <div class="shadow row-sm-5 p-3 mb-3">
        <img class="img-thumbnail" src="../../assets/images/logo.png">
      </div>
      <div class="shadow row-sm-5 p-3 mb-3">
         <button class="bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-5" routerLink="/solve">

            Către chestionar
          </button>
      </div>
    </div>
  </div>
  <div class="row shadow row-sm-5 p-3 mb-12 justify-content-center align-items-end text-center">
    <p>Inspired by ScoalaRutiera.ro</p>
  </div>
</div>
