<div class="container-fluid d-flex flex-column vh-100">
  <div class="row flex-grow-1 justify-content-center align-items-center">
    <div class="col-8 text-center block">
      <div class="shadow row p-3 mb-3">
        <p class="text-center text-white" style="font-size: 20px">
          Rezolvă Chestionar DRPCIV Categoria B (B,B1)
        </p>
      </div>

      <div class="shadow row p-3 bg-white">
        <div class="col-xs-3 col-md-2 text-center border p-2 mx-auto">
          <span style="font-size: 20px">{{ initialQuestions }}</span
          ><br class="d-md-block" />Întrebări inițiale
        </div>
        <div class="col-xs-3 col-md-2 text-center border p-2 mx-auto">
          <span style="font-size: 20px">{{ remainingQuestions }}</span
          ><br class="d-md-block" />Întrebări rămase
        </div>
        <div
          class="col-xs-3 col-md-2 border d-flex justify-content-center align-items-center p-2"
        >
          <span style="font-size: 25px; color: #4397df">{{
            timeRemaining
          }}</span>
        </div>
        <div class="col-xs-3 col-md-2 text-center border p-2 mx-auto">
          <span style="font-size: 20px; color: #4a893c">{{
            correctAnswers
          }}</span
          ><br class="d-md-block" />Răspunsuri Corecte
        </div>
        <div class="col-xs-3 col-md-2 text-center border p-2 mx-auto">
          <span style="font-size: 20px; color: #e64a46">{{ wrongAnswers }}</span
          ><br class="d-md-block" />Răspunsuri Greșite
        </div>
      </div>

      <div class="col p-2 d-flex flex-column" style="background-color: #dfe0e6">
        <span>Întrebarea #index</span><br />
        <strong class="mb-xl-3" style="font-size: 20px"
          >Cum procedam cand in fata avem o masina si pe banda din sensul opus
          am avea o alta masina bro ?</strong
        >
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <img
              class="img-thumbnail d-block"
              src="../../assets/images/chestionar-auto2.png.webp"
            />
          </div>

          <div class="col-6 d-flex justify-content-center align-self-center">
            <!--If I remove the image, I want this div WITH THIS list-group TO ADJUST WIDTH ACCORDINGLY-->
            <ul class="list-group">
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
                  aria-label="..."
                  id="checkboxA"
                />
                <label class="form-check-label" for="checkboxA">
                  <span class="answer-label">A.</span>
                  <p class="answer-variant">
                    AKJFOPASJFOPASJFOPASJFOPASFJAOSFJASOPFJASOPFJASOPFJASOPFJASOPFASJOPFAJSFPOA
                  </p>
                </label>
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
                  aria-label="..."
                  id="checkboxB"
                />
                <label class="form-check-label" for="checkboxB">
                  <span class="answer-label">B.</span>
                  <p class="answer-variant">
                    AKJFOPASJFOPASJFOPASJFOPASFJAOSFJASOPFJASOPFJASOPF
                  </p>
                </label>
              </li>
              <li class="list-group-item">
                <input
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
                  aria-label="..."
                  id="checkboxC"
                />
                <label class="form-check-label" for="checkboxC">
                  <span class="answer-label">C.</span>
                  <p class="answer-variant">
                    AKJFOPASJFOPASJFOPASJFOPASFJAOSFJASOPFJASOPFJASOPFJASO
                  </p>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row-sm-3 mt-3">
          <button class="mx-md-5 mb-3" mat-flat-button color="primary">
            <mat-icon>autorenew</mat-icon>
            Raspunde mai tarziu
          </button>
          <button class="mx-md-5 mb-3" mat-flat-button color="warn">
            <mat-icon>close</mat-icon>
            Modifica raspunsul
          </button>
          <button class="mx-md-5 mb-3" mat-flat-button color="accent">
            <mat-icon>check_circle_outline</mat-icon>
            Trimite Raspunsul
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row shadow row-sm-5 p-3 mb-3 justify-content-center align-items-end text-center"
  >
    <p>Inspired by ScoalaRutiera.ro</p>
  </div>
</div>
