.navigation-bar
{
  background: linear-gradient(to right, #FCFCFC, #D9D9D9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.main-container {
  height: 100vh;
}

.sidenav {
  width: 375px;
  background: linear-gradient(to right,  #D9D9D9,#FCFCFC);
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
}

.sidenav-footer {
  border-top: 1px solid #e5e7eb;
}

.profile-image {
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s ease-out;
}

.profile-image:hover {
  filter: brightness(70%);
}

.profile-image:hover ~ .edit-icon {
  opacity: 1;
}

@keyframes rise {
  from {
    transform: translateY(80%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-rise {
  animation: rise 0.4s ease-out forwards;
}
