<nav class="navigation-bar flex items-center  space-x-8 border-b border-gray-200 px-4 py-1">

  <button type="button" routerLink="/" (click)="activeSection = null" >
    <img src="../../assets/images/logo.png" alt="Logo" class="h-12" />
  </button>


  <div class="flex flex-1 space-x-8 px-3">
    <!-- Legislation -->
    <button
      type="button"
      routerLink="/legislation"
      (click)="setActive('legislation')"
      [ngClass]="{
        'text-red-600': activeSection === 'legislation',
        'text-gray-600': activeSection !== 'legislation'
      }"
      class="hover:text-red-400 px-3 font-light"
    >
      Legislation
    </button>

    <!-- Road Signs -->
    <button
      type="button"
      routerLink="/roadsigns"
      (click)="setActive('roadsigns')"
      [ngClass]="{
        'text-yellow-500': activeSection === 'roadsigns',
        'text-gray-600': activeSection !== 'roadsigns'
      }"
      class="hover:text-yellow-600 px-3 font-light"
    >
      Road Signs
    </button>

    <!-- Questionnaire -->
    <button
      type="button"
      routerLink="/questionnaires"
      (click)="setActive('questionnaire')"
      [ngClass]="{
        'text-green-600': activeSection === 'questionnaire',
        'text-gray-600': activeSection !== 'questionnaire'
      }"
      class="hover:text-green-600 px-3 font-light"
    >
      Questionnaires
    </button>
  </div>
  <div class="flex justify-end-2"  >
      <button
      type="button"
      (click)="setActive('register')"
      routerLink="user/register"
      [ngClass]="{
        'text-gray-500': activeSection === 'register',
        'text-gray-800': activeSection !== 'register'
      }"
      class="hover:text-gray-400 px-3 font-light"
    >
      Register
    </button>
      <button
      type="button"
      (click)="setActive('login')"
      routerLink="user/login"
      [ngClass]="{
        'text-gray-500': activeSection === 'login',
        'text-gray-800': activeSection !== 'login'
      }"
      class="hover:text-gray-400 px-3 font-light"
    >
      Login
    </button>
  </div>

</nav>
