
@use '@angular/material' as mat;

// Define a primary palette
$proiect-chestionar-auto-primary: mat.define-palette(mat.$indigo-palette);

// Define an accent palette
$proiect-chestionar-auto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Define a theme
$proiect-chestionar-auto-theme: mat.define-light-theme((
  color: (
    primary: $proiect-chestionar-auto-primary,
    accent: $proiect-chestionar-auto-accent,
  ),
));


mat-checkbox {

  width: auto;
  padding: 9px;
  background-color: white;

}


mat-checkbox label {

  font-size: 20px;

}


@include mat.all-component-themes($proiect-chestionar-auto-theme);







