/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "../src/assets/forms.css";
/* Tailwind base, components, and utilities should be imported via PostCSS or your build tool configuration */


html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Economica';
  src: url('../src/assets/fonts/Economica-Regular-OTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.label {
  font-family: 'Economica';
  font-size: 20px;
  color: black;
}
mat-tab-label {
  font-family: 'Economica';
  font-size: 20px;
}
